{% extends "base.jinja" %}

{% block main %}
<p>
  {{ _("Your One-Time Password (OTP) is:") }} <strong>{{ otp }}</strong>. {{ _("This code expires at") }}
  <time datetime="{{ expires_at.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ expires_at.strftime('%H:%M') }} UTC</time>.
  {{ _("Don't share it with anyone!") }}
</p>

<p>
  {{ _("In case if you didn't request a code, just ignore this message.") }}
</p>
{% endblock %}
